/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap");

/* tailwindcss */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Montserrat, sans-serif;
}

*::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
}

body {
  margin: 0;
  overflow: hidden;
}

.text-excited {
  font-family: "Zen Dots", sans-serif;
}
